<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body class="body-background-img-todolist">


    <div class="main-header">
        <div class="welcome-user">
          Welcome <b><%= user %></b>!
        </div>
        <div class="the-header">
          <a href="/todo">Add Item</a> | <a href="/user/profile">View profile</a> | <a href="/">Logout</a>
        </div>

        <div class="the-message">
          <h1><%= message %></h1>
        </div>
    </div>

    <% for (var t = 0; t < tasks.length; t++) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Found</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Found</th>
          </tr>
        </thead>
        <tbody>
          <% var currentTask = tasks[t]; %>
          <tr class="todo-item" id="todo_<%= currentTask._id %>">
            <td>
              <%= currentTask.item %>
            </td>
            <td>
              <%= currentTask.quantity %>
            </td>
            <td>$
              <%= currentTask.price %>
            </td>
            <td>
              <%= currentTask.found %>
            </td>
            <td>
              <a class="deleteButton" id="<%= currentTask._id %>">Delete</a></td>
            <td>
              <a class="editButton" id="<%= currentTask._id %>">Edit</a>
            </td>
            <td>
              <a class="completeButton" id="<%= currentTask._id %>">Found</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/todoHandler.js"></script>

  </body>
</html>
