<!DOCTYPE html> <html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body class="body-background-img-additem">
    <div>
      <a href="/todo/list">Shopping List</a> | <a href="/user/profile">View profile</a>
    </div>

    <div>
      <h1>Add Item</h1>
    </div>


    <form method="POST" action="/todo" id="todoForm">

      <input type="hidden" name="db_id" value="<%= todo._id %>">

      <div class="formfield">
        <div class="formfield--prompt">Item:</div>
        <input type="text" id="todoTitle" name="item" value="<%= todo.item %>">
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Quantity:</div>
        <input type="text" id="todoPriority" name="quantity" value="<%= todo.quantity %>">
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Price:</div>
        <input type="text" id="todoPriority" name="price" value="<%= todo.price %>">
      </div>

      <input class="submitButton" type="submit"></input>
    </form>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

    <script src="/javascripts/validate.js"></script>
  </body>
</html>
